@import '../../scss/theme';

.input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $white;
    color: white;
    padding: 12px 4px;
    font-weight: 700;
}