$additional-fonts: system-ui, -apple-system, "Helvetica Neue", roboto, sans-serif;
$font-family-montserrat: "Montserrat", $additional-fonts;


$primary: #344FA1;
$secondary: #031A55;
$button-color: #EB02FF;
$white: #FEFDFF;
$black: #000;